body{
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

#wholeNav{
    margin:0 auto;
    width: 100%;
}

#navRow{
    background-color: #0d1a26;
}

#NavText{
    color: cornsilk;
    height: 35%;
    margin-left: 35%;
    text-align: center;
}
.sidebar{
    background-color: cyan;
    
}

section{
    margin:0 auto;
    width: 95%;
}
#sidebar{
    border: black solid 1px;
    
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

#dateData{
    border: black solid 1px;
    margin-left: 20px;
    width: 60%;
    height: 65%;
}
 .right{
    float: right;
    margin:0 auto;
    width: 65%;
 }
